<div id="productsForm" class="container col-md-6 col-md-offset-3">
  <h3 *ngIf="mode === 'new'">{{ 'products.add' | translate: param }}</h3>
  <h3 *ngIf="mode === 'update'">{{ 'products.update' | translate: param }}</h3>
  <form #productform="ngForm" novalidate>
    <div class="form-group">
      <label for="selectedProduct.title" class="control-label">{{ 'products.title' | translate: param }}</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="selectedProduct.title"
        name="title"
        pattern="[A-Za-z0-9]{3,15}"
        minlength="3"
        maxlength="15"
        #title="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="selectedProduct.description">{{ 'products.description' | translate: param }}</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="selectedProduct.description"
        name="description"
        #description
      />
    </div>
    <div class="form-group">
      <label for="selectedProduct.price">{{ 'products.price' | translate: param }}</label>
      <input
        type="text"
        class="form-control"
        required
        min="0"
        [(ngModel)]="selectedProduct.price"
        name="price"
        #price
      />
    </div>
    <div class="form-group">
      <label for="selectedProduct.quantity">{{ 'products.quantity' | translate: param }}</label>
      <input
        type="text"
        class="form-control"
        required
        min="0"
        [(ngModel)]="selectedProduct.quantity"
        name="quantity"
        #quantity
      />
    </div>
    <div class="form-group">
      <label for="selectedProduct.image">{{ 'products.image' | translate: param }}</label
      ><br />
      <input type="file" class="form-controll" (change)="onFileSelected($event)" name="image" #image />
    </div>
    <div class="form-group">
      <button class="btn btn-outline-dark" type="button" (click)="cancel()">
        {{ 'app.btn.cancel' | translate: param }}
      </button>
      <button class="btn btn-outline-dark left-space" type="button" (click)="save()" [disabled]="productform.invalid">
        <span *ngIf="mode === 'new'">{{ 'app.btn.save' | translate: param }}</span>
        <span *ngIf="mode === 'update'">{{ 'app.btn.update' | translate: param }}</span>
      </button>
    </div>
  </form>
</div>
<simple-notifications></simple-notifications>
