<div class="container">
  <div class="row">
    <div id="allProducts" class="col-xs-6 text-left">
      <div>
        {{ 'products.search' | translate: param }}:
        <input type="text" [(ngModel)]="searchText" placeholder="{{'products.searchParam' | translate: param}}" />
        <br /><br />
        <table>
          <thead>
            <tr>
              <th>{{ 'products.id' | translate: param }}</th>
              <th>{{ 'products.title' | translate: param }}</th>
              <th>{{ 'products.description' | translate: param }}</th>
              <th>{{ 'products.price' | translate: param }}</th>
              <th>{{ 'products.image' | translate: param }}</th>
              <th>{{ 'products.quantity' | translate: param }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of (products | findByName: searchText)">
              <td>{{ product.id }}</td>
              <td>
                <a title="{{'app.view' | translate: param}}" (click)="openProductModal(product)">
                  <i aria-hidden="true"></i> <span>{{ product.title | uppercase }}</span></a
                >
              </td>
              <td>{{ product.description }}</td>
              <td>{{ product.price | currency: 'EUR':'symbol':'1.2-2' }}</td>
              <td><img src="assets/images/{{product.image}}" height="50" /></td>
              <td>{{ product.quantity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>
