<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body center">
  <p>{{ 'products.confirm.delete' | translate: param }}</p>
  <button class="btn btn-outline-danger" (click)="activeModal.dismiss()">
    {{ 'app.btn.cancel' | translate: param }}
  </button>
  <button class="btn btn-outline-success" (click)="productDeleted($event)">
    {{ 'app.btn.delete' | translate: param }}
  </button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="setCancel()">
    {{ 'app.btn.close' | translate: param }}
  </button>
</div>
<simple-notifications></simple-notifications>
